#ver
  %ul
    %li 
      = link_to image_tag(@fotos.pic_large, :width => 640, :height => 640),@fotos.instagram_link, :target => 'blank', :"data-id" => @fotos.instagram_id
      %h2
        = link_to "Picture by: @#{@fotos.username}", @fotos.instagram_link, :target => 'blank'
  %p.ranking
    Ranking
    = @res
    = render 'votes/ranking'
  .comentarios
    - if @comment.errors.any?
      %ul
        - @comment.errors.full_messages.each do |message|
          %li= message
    %h3 It leaves your comment.
    = render 'comment/comments'
    - if @comments.empty?
      %p.note Without comments for the present time.
    - else
      %ul.comentarios
        - @comments.each do |c|
          %li
            %h4
              =c.comentario
