#ver
  %ul
    %li 
      = link_to image_tag(@fotos.pic_large, :width => 640, :height => 640),@fotos.instagram_link, :target => 'blank', :"data-id" => @fotos.instagram_id
      %h2
        = link_to "Picture by: @#{@fotos.username}", @fotos.instagram_link, :target => 'blank'
  %p.like= link_to"Like", upvote_path
  %p.notlike= link_to"Don't Like", downvote_path
  %p= @fotos.likes.size
  .comentarios
    - if @comment.errors.any?
      %ul
        - @comment.errors.full_messages.each do |message|
          %li= message
    = render 'comment/comments'
    - if @comments.empty?
      %p.note Without comments for the present time.
    - else
      %ul.coment
        - @comments.each do |c|
          %li
            = image_tag("home/noavatar.png", :width => 40, :height => 40)
            %p.name
              Jose Alejandro
            %br/ 
            %p
              =c.comment 
            %p.date 
              =c.created_at
