!!!
%html
  %head
    %meta{:charset => "UTF-8"}
    %title MK1
    %meta{:content => "#MK1", :property => "og:title"}
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
    %meta{:name => "description", :content => "#MK1. ómale una foto a tu volkswagen en instagram y lucete ante la demas gente."}
    %meta{:content => "#MK1. Tómale una foto a tu volkswagen en instagram y lucete ante la demas gente.", :property => "og:description"}
    %meta{:content => "http://vwmk1.mx", :property => "og:url"}
    %meta{:content => "#MK1", :property => "og:site_name"}
    %meta{:content => '/social.jpg', :property => "og:image"}
    %meta{:content => "IE=Edge", "http-equiv" => "X-UA-Compatible"}
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    #mk1
      #admin
        %ul#menu
          %li=link_to "Home", root_path
          %li=link_to "Actualizar manualmente", manual_path
          %li
            %a{:href => '#'}
              Total de fotos:
              = "#{Mk1.where(:publicado => true).count}/#{Mk1.count}"
        = yield
    = javascript_include_tag "application"
