!!!
%html
  %head
    %meta{:charset => "UTF-8"}
    %title Volkswagen GTI
    %meta{:content => "#MK1", :property => "og:title"}
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
    %meta{:name => "description", :content => "#GTI. Take a picture of your volkswagen on instagramand show offto the other people."}
    %meta{:content => "#MK1. Take a picture of your volkswagen on instagramand show offto the other people.", :property => "og:description"}
    %meta{:content => "http://www.volksgit.com", :property => "og:url"}
    %meta{:content => "#VolkswagenGTI", :property => "og:site_name"}
    %meta{:content => '/social.jpg', :property => "og:image"}
    %meta{:content => "IE=Edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    .row
      .header
        %ul.nav.nav-tab
          %li
            = link_to "GTI", root_path
          %li
            = link_to "Home", root_path
          %li
            = link_to "It Takes Part","#"
          %li
            = link_to "More Visit", visit_path
          %li 
            - if current_user.nil?
              %p= link_to "Sign up", new_user_registration_path
              %p= link_to "Sign in", user_session_path
            - else
              %p= link_to "Sign out", destroy_user_session_path, :method => :delete
    .content
      .row
        .col-md-8
          = yield
        .col-md-4
      .footer
    :plain
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-8596932-3', 'volksgti.com');
        ga('send', 'pageview');
      </script>
    = javascript_include_tag "application"
